* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color:#fff9e3 ;
  text-align: center;
}

.button-container {
  display: flex;
  background-color: #1c2b1d;
  width: 300px;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
  #4469539a 5px 10px 15px;
  transition: all 0.5s;
  position: fixed;
  bottom: 20px;  /* Adjust for spacing */
  left: 50%;
  transform: translateX(-50%);  /* Centers horizontally */
}

.button-container:hover {
  width: 350px;
  transition: all 0.5s;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff9e3;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff9e3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.6s ease, visibility 5s ease;
}

.loader-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 20em;
  height: 20em;
}

.loader path {
  fill: none;
  stroke: #1c2b1d;
  stroke-width: 1px;
  animation: dashArray 4s ease-in-out infinite, dashOffset 20s linear infinite;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }
  50% {
    stroke-dasharray: 0 359 1 0;
  }
  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }
  100% {
    stroke-dashoffset: 5;
  }
}

.main-content {
  display: none;
  padding: 2rem;
  text-align: center;
}

.main-content.show {
  display: block;
}

.profile{
  border-radius: 50% ;
  border: 5px solid #1c2b1d;
}
.heroimg{
  width:100%;
  height:100%;
  object-fit:cover;
}
section{
  position: relative;
  width: 100vw;
  height:100vh;
  overflow:hidden;
}
h1{
  text-transform: uppercase;
  font-size:4vw;
  font-weight:500;
   color:#fff9e3;
}
.hero,
.outro{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: #1c2b1d;
}
.sticky{
  background-color: #fff9e3;
}
.titles{
position:absolute;
top:0%;
left:0%;
width:400vw;
height:100vh;
display:flex;
}

.title{
  position:relative;
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;
}
.title h1{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:9vw;
  font-style: italic;
  will-change: transform;
}
h1.title-1{
color:aquamarine;
}
h1.title-2{
color:aquamarine;
}
h1.title-3{
color:aquamarine;
}

.images{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:250vw;
  height:250vh;
  transform-style:preserve-3d;
}