body{
    background-color: #faf7d3;
}
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -250px;
  top: 0;
  background: #333;
  padding-top: 20px;
  transition: left 0.4s;
}

.sidebar.active {
  left: 0;
}

.nav-link {
  color: white;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.nav-link:hover {
  background: #575757;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggle-btn.active {
  transform: rotate(90deg);
}