body {
  background-color: #faf7d3;
  font-family: Arial, sans-serif;
  transition: margin-right 0.4s;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -250px;
  top: 0;
  background: #ffa05779;
  padding-top: 20px;
  transition: left 0.4s;
}

.sidebar.active {
  left: 0;
}

.nav-link {
  color: #ff2c2c;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.nav-link:hover {
  background: #faf7d3;
  color:#ffa057
}

/* New Plus Button Styling */
.plusButton {
  --plus_sideLength: 2.5rem;
  --plus_topRightTriangleSideLength: 0.9rem;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffa057;
  width: var(--plus_sideLength);
  height: var(--plus_sideLength);
  background-color: #ff2c2c;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.plusButton::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
  border-style: solid;
  border-color: transparent #faf7d3 transparent transparent;
  transition: 0.2s ease-in-out;
}

.plusButton.active::before {
  --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusIcon {
  fill: #ffa057;
  width: calc(var(--plus_sideLength) * 0.7);
  height: calc(var(--plus_sideLength) * 0.7);
  z-index: 1;
  transition: 0.2s ease-in-out;
}

.plusButton.active .plusIcon {
  fill: #ffa057;
  transform: rotate(180deg);
}


.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  z-index: 1000; /* Ensures it's above other elements */
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transition-duration: 0.3s;
}
